@media (max-width:1660px) {
    /* Main page */
    .container {
        max-width: 1200px !important;
    }
    .logo a {
        font-size: 28px ;
    }
    .menu a{
        font-size: 18px ;
    }
    main .main_page {
        min-height: 768px;
    }
    .container .main_content {
        padding-top: 140px;
    }
    .description h2 {
        font-size: 16px ;
    }
    .main_content .description h1 {
        font-size: 36px ;
    }
    .description p {
        font-size: 16px ;
    }
    .quality h3 {
        font-size: 12px;
    }
    .quality_desc {
        font-size: 12px;
    }
    .quality .quality_desc h4{
        text-align: start;
        font-size: 14px;
    }
    .right_content .icon:before {
        font-size: 40px;
    }
    /* Main page  */

    /* Catalog page */
    main .catalog_page {
        min-height: 768px;
    }
    main .background:before {
        min-height: 768px;
    }
    .category_card a {
        font-size: 20px;
    }
    .slick-slide .slider_inner {
        width: 350px ;
        height: 550px ;
    }
    .slider_inner .description_card {
        padding-top: 20px;
    }
    .photo_card .coast  {
        right: 40px;
        bottom: 15px;
        width: 70px;
        height: 25px;
    }
    .photo_card img {

        width: 300px;
        height: 300px;
    }
    .description_card .name {
        margin-top: 0px;
    }
    .button_card .btn {
        height: 20px;
        width: 100px;
        font-size: 14px;
    }
    .button_card .btn_buy {
        visibility: hidden;
    }
    .button_card .btn a {
        line-height: 20px;
    }
    .btn_add_in_cart {
        margin-left: 20px;
    }
    .slick-prev:before {
        font-size: 24px;
    }
    .slick-prev {
        font-size: 24px;
    }
    .slick-next:before {
        font-size: 24px;
    }
    .slick-next {
        font-size: 24px;
    }
    /* Catalog page */

    /* Delivery page */
    main .delivery_page {
        min-height: 900px;
    }
    .container .delivery_head h3 {
        font-size: 36px;
    }
    .content_delivery .title_left_content {
        font-size: 14px;
    }
    .bottom_delivery_content .delivery_companies {
        max-height: 630px;
    }
    .bottom_delivery_content .delivery_post_tracking {
        min-height: 630px;
    }
    .delivery_list_companies .company img {
        width: 40px;
        height: 40px;
    }
    .description_company .name_company {
        font-size: 14px;
    }
    .description_company .region_company {
        font-size: 12px;
        max-width: 145px;
    }
    .container .delivery_head p{
        font-size: 20px;
    }
    .delivery_post_tracking .details_abouts_delivery {
        max-height:490px;
    }
    .delivery_post_tracking .search_post button {
        width: 9%;
    }
    /* Delivery page */

    /* Our projects */

    /* Our projects */

    /* About KeyCup */

    /* About KeyCup */

    /* About us */

    /* About us */
    
}
@media (max-width:1200px) {
    /* Main page  */
    .container {
        max-width: 970px;
    }
    /* Main page  */

    /* Catalog page */

    /* Catalog page */

    /* Delivery page */

    /* Delivery page */

    /* Our projects */

    /* Our projects */

    /* About KeyCup */

    /* About KeyCup */

    /* About us */

    /* About us */
    
}
@media (max-width:992ox) {
    /* Main page  */
    .container {
        max-width: 750px;
    }
    /* Main page  */

    /* Catalog page */

    /* Catalog page */

    /* Delivery page */

    /* Delivery page */

    /* Our projects */

    /* Our projects */

    /* About KeyCup */

    /* About KeyCup */

    /* About us */

    /* About us */
    
}
@media (max-width:767px) {
    /* Main page  */
    .container {
        max-width: none;
    }
    /* Main page  */

    /* Catalog page */

    /* Catalog page */

    /* Delivery page */

    /* Delivery page */

    /* Our projects */

    /* Our projects */

    /* About KeyCup */

    /* About KeyCup */

    /* About us */

    /* About us */
    
}