.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all 1s ease;
    background-color: #23201d;

    &--hidden {
        transform: translateY(-100%);
        transition: all 1s ease;
    }
    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        transition: all 1s ease;
    }
}
.logo {
    word-wrap: normal;
    padding-right: 60px;
    &__link {
        font-size: 36px;
        line-height: 45px;
        font-family: "SedgwickAve";
        
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;

    }

    &__item {
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
    &__link {
        font-family: "Jura";
        font-size: 24px;
        line-height: 33px;

        &:hover {
            color: $color-primary;
            transition: 0.5s;
        }
    }
    
}
.burger {
    display: none;
    position: relative;
    height: 26px;
    width: 26px;
    z-index: 100;
        
    &:before, &:after, &__line {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background-color: $color-primary;
        transition: 0.4s;
    }
    &__line {
        top: 12px;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}


.languages {
    
    &__list {
        margin-left: 50px;
        &-svg {
            height: 28px;
            width: 28px;
            background: url('../images/switch_lang.svg');

        }
    }
    &__item {
        display: flex;
        position: relative;

        &:hover .languages__swither-list {
            display: block;
        }
    }
    &__swither-list {
        text-align: center;
        min-width: 50px;
        position: absolute;
        z-index: 1000;
        right: 0;
        padding-top: 10px;
        top: 20px;
        display: none;
        
    }
    &__swither-link {
        background-color: $color-sub-menu;
        padding-top: 5px;
        &:last-child{
            padding-bottom: 5px;
        }
    }
    &__swither-item {
        &:hover {
            transition: 0.3s;
            color: $color-primary;
        }
    }
}