// short-about page
.about {
    min-height: 100vh;
    width: 100%;

    position: relative;
    overflow: hidden;
    background-color: #edf1fd;

    &__top {
        &-inner {
            margin-top: 144px;
            max-width: 618px;
        }
    }

    &__title {
        position: relative;
        color: black;
        font-size: 36px;
        line-height: 43px;

        &:after {
            content: '';
            margin-left: 20px;
            display: block;
            background: url('../images/left-long-black-arrow.svg');
            height: 16px;
            width: 40px;
            position: absolute;
            top:18px;
            left: 260px;
        }
    }

    &__description {
        color: black;
        margin-top: 10px;
        font-size: 24px;
        line-height: 28px;
        text-align: justify;
    }

    &__bottom {
        
    }
    &__quote {
        margin: 72px auto 0 auto;
        text-align: center;
        &-title {
            margin-bottom: 40px;
            color: black;
            font-size: 48px;
            line-height: 57px;
        }
    }
}
.card {

    &__list {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        background: #CACACA;
        position: relative;
        min-height: 400px;
        max-width: 270px;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.6);
        border-radius: 5px;
    }
    &__circle {
        margin: 23px auto 0 auto;
        background: #2b303b;
        border-radius: 70px;
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 140px;
        max-width: 140px;

        
        &-img {
            position: absolute;
            top: calc((((140 - 80) / 140) * 100%) / 2);
            left: calc((((140 - 80) / 140) * 100%) / 2);
        }
    }
    &__title {
        color: black;
        margin-top: 10px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    &__description {
        color: black;
        margin-left: auto;
        margin-right: auto;
        max-width: 245px;
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
    }
    &__btn {

        position: absolute;
        bottom: 23px;
        left: 7.5%;
        &-detail {
            padding: 9px 52px;
            background-color: $color-btn-second;
            font-family: "Jura";
            text-align: center;
        }
        &:hover &-detail {
            color: $color-primary;
            transition: color 0.3s;
        }
    }
}

.carousel {
    margin-top: 90px;
    max-width: 1109px;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 8px;

    &__button {
        position: absolute;
        color: black;
        z-index: 2;
        box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
        background-color: #fff;
        border: none;

        &:focus {
            outline: none;
            box-shadow: 0 0 0 4px #a78bfa;
        }
        &.is-prev {
            left: -1.5rem;
        }

        &.is-next {
            right: -1.5rem;
        }
    }

    &__viewport {
        width: calc(55% + 120px);
        margin-left: auto;
    }
    &__slide {
        width: 100%;
        padding: 20px 60px 0 160px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 320px;

        &-title {
            color: black;
            font-family: "Jura";
            font-size: 36px;
            line-height: 43px;
        }
        &-description {
            font-family: "Montserrat";
            font-size: 24px;
            line-height: 29px;
            margin-top: 15px;
            color: black;
            max-width: 420px;
        }
    }
    &__image-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 55%;
        bottom: 0;
        z-index: 1;
        overflow: hidden;

        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        & li {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.35s;

            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 50px 0 50px;

            user-select: none;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #32325d;
                opacity: 0.4;
                z-index: 1;
            }
            &.is-active {
                opacity: 1;
            }
            & h3 {
                font-family: "Jura";
                font-size: 36px;
                color: white;
                z-index: 1;
            }
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__image-left {
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: currentColor;
    }
}