.main-page {
    &__head {
        margin-top: 60px + 85px;
    }
    &__title {
        color: black;
        margin: 0;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
    }

    &__slider {
        
        margin-top: 40px;

        

        &-slide {
            position: relative;
        z-index: 1;
            min-height: 360px;
            background: url("../images/back_slide_porfolio.png");

            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 100%;
            &:after {
                content: "";
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            }
        }
        &-block {
            margin: 0 auto;
            max-width: 619px;
            
        }
    }
    
    &__slider-title {
        position: relative;
        z-index: 3;
        margin-top: 45px;
    }
    &__slider-desc {
        position: relative;
        z-index: 3;
        text-align: justify;
        margin-top: 10px;
        font-size: 24px;
        line-height: 28px;
    }
    &__slider-btn {
        margin-top: 30px;
        position: relative;
        z-index: 3;
        margin-left: auto;
    }
    &__slider-btn-detail {
    }
    &__footer {

    }
}
.advantages {
    display: flex;
    justify-content: space-between;
    &__block {
        margin-top: 70px;
        color: black;
        &:not(:first-child){
            padding-left: 10px;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
    }
    &__desc {
        margin-top: 20px;
    }
}
.slick-next,
.slick-prev {
    display: none !important;
}
.slick-dots {
    position: absolute;
    left: 50%;
    bottom: 15px;
    display: flex;
    li {
        display: inline-block;
        cursor: pointer;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: #fff;
        &:not(:first-child) {
            margin-left: 15px;
        }
        button {
            display: none;
        }
    }
    .slick-active {
        outline: 2px solid $color-primary;
    }
}
