@font-face {
    font-family: "Jura"; 
    src: local("Jura"),
    url("../fonts/main/Jura-Regular.ttf") format("truetype"),
    url("../fonts/main/Jura-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat"; 
    src: local("Montserrat"),
    url("../fonts/main/MontserratAlternates-Regular.ttf") format("truetype"),
    url("../fonts/main/MontserratAlternates-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
@font-face {
    font-family: "SedgwickAve"; 
    src: local("SedgwickAve"),
    url("../fonts/main/SedgwickAve-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal;
}