
body {
    font-family: "Jura";
    font-weight: 400;
    font-size: 20px;
    position: relative;
}

.container {
    max-width: 1460px;
    overflow: hidden;
    margin: 0 auto;

    &--visible {
        overflow: visible;
    }
}
.btn {
    margin-top: 45px;
    background: red;
    max-width: 232px;
    text-align: center;
    transition: 0.3s;

    &-detail {
        font-family: "Montserrat";
        font-size: 18px;
        line-height: 40px;
        text-align: justify;
        transition: 0.3s;
    }
    &:hover &-detail {
        transition: 0.3s;
        color: black;
    }
    &:hover {
        transition: 0.3s;
        transform: translateY(-15%);
    }
}

.keycolor {
    color: $color-primary;

    &--active {
        animation: activeHidden;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }

    @keyframes activeHidden {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.title--color {
    color: red;
}