// reset some atribute
*,
*:after,
*:before {
    box-sizing: border-box;
    line-height: normal;
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    line-height:normal;

}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
button {
    background-color: $color-btn;
}



body {
    font-family: "Jura";
    font-weight: 400;
    font-size: 20px;
    position: relative;
    color: white;
}

.container {
    height: 100%;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
}
.btn {
    background: red;
    max-width: 230px;
    text-align: center;
    transition: 0.3s;

    &-detail {
        font-family: "Montserrat";
        font-size: 18px;
        line-height: normal;
        padding: 9px 20px;
        transition: 0.3s;
    }
    &:hover {
        transform: scale(105%);
    }
    &:active {
        transform: scale(95%);
    }
}
.icons {
    display: flex;
    align-items: center;

    &__instagram:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background: url('../images/instagram.svg');
    }
    &__telegramm:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background: url('../images//telegramm.svg');
    }

    &__vk:after {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background: url('../images/vk.svg');
    }

    &__link {
        font-size: 30px;
        transition: 0.3s;

        &:hover {
            transition: 0.3s;
            color: red;
            transform: translateY(-15%);
        }

        &:not(:first-child) {
            margin-left: 25px;
        }
    }
}

.keycolor {
    color: $color-primary;

    &--active {
        animation: activeHidden;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }

    @keyframes activeHidden {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.title--color {
    color: red;
}

