@media (min-width: 960px) {
    .carousel__image-container ul {
        transform: translateX(-60px) skewX(-12deg);
    }

    .carousel__image-container li {
        transform: translateX(60px) skewX(12deg);
        padding-right: 100px;
    }
}

@media (max-width: 1441px){
    .fancybox__content {
        width: 100%;      
    }
    .popups__project-description {
        padding-left: 10px;
    }
    .popups__project-desc {
        min-width: 350px;
        font-size: 16px;
    }
    .popups__project-collection {
        max-width: 440px;
        min-width: 420px;
    }
}
@media (max-width: 1025px){
    .popups__project-desc {
        max-width: 400px;
        min-width: 300px;
        font-size: 16px;
    }
    .popups__project-collection {
        max-width: 210px;
        min-width: 200px;
    }
    
    //header 
    .menu {
        max-width: 750px;

        &__link{
            font-size: 22px;
            line-height: 25px;
        }
        
    }
    // 

    // header addition
    .header-addition__top-inner {
        margin-top: 150px;
        
        
    }
    .header-addition__suptitle {
        font-size: 15px;

        &:after {
            font-size: 15px;
        }
    }
    .header-addition__title {
        font-size: 25px;
        margin: 5px 0 10px 0;
    }
    .header-addition__desc {
        font-size: 15px;
    }
    .header-addition__btn {
        max-width: 190px;
        &-detail {
        font-size: 15px;
        line-height: 28px;
        }
    }
    .icons__link {
        font-size: 22px;

        &:not(:first-child) {
            margin-left: 15px;
        }
    }
    .header-addition__bottom{
        height: 60px;
    }
    .header-addition__bottom-inner {
        z-index: 5;
        bottom: 10px;
    }
    .header-addition__bottom-decor:after {
        font-size: 45px;
    }
    // 

    // portfolio

    .portfolio__content-inner {
        display: block;
        
    }
    .portfolio__content-left {
        margin-left: auto;
        margin-right: auto;

        &:last-child {
            margin-top: 40px;
        }
    }
    .portfolio__content-right {
        margin-left: auto;
        margin-right: auto;
        max-width: 846px;
        

        &:last-child {
            margin-top: 40px;
        }
    }
    // 

    // short-about
    .short-about__center-title {
        font-size: 18px;
        line-height: 24px;
    }
    .short-about__center-descriotion {
        font-size: 16px;
        line-height: 22px;
    }

    // 
    .short-about-bottom__quote {
        padding: 0 10px;

        &-title {
            font-size: 35px;
            line-height: 41px;
        }
    }
    // project 
    .carousel__slide-title{
        font-size: 28px;
        line-height: 34px;
    }
    .carousel__slide-description {
        font-size: 18px;
        line-height: 24px;
    }

    .project__center-bottom-title {
        font-size: 30px;
        line-height: 36px;
    }
    // 

    // footer
    .footer__title {
        font-size: 20px;
        line-height: 25px;
    }
    .footer__link {
        font-size: 18px;
        
    }
    .footer__item:not(:first-child) {
        margin-top: 8px;
    }
    // 
}







@media (max-width: 769px){

    .fancybox__slide {
        padding: 8px 20px;
    }
    .fancybox__content {
        padding: 12px;
    }
    .popups__project-title {
        font-size: 18px;
        
    }
    .popups__project-desc {
        margin-top: 5px;
        max-width: 210px;
        min-width: 130px;
        font-size: 12px;
    }
    .popups__project-description {
        padding-left: 5px;
        display: none;
    }
    .popups__project-collection {
        max-width: 100%;
        margin: 0 auto;

        img {
            max-width: 23%;
            max-height: 100px;
        }
    }

    //header 
    .header {
        .container {
            max-width: 768px;
            margin: 0 auto;
            width: 100%;
            overflow: visible;
        }
    }
    .header__inner {
        padding: 10px 0;
    }
    .logo {
        padding-right: 0;
        &__link {
            font-size: 20px;
            line-height: 26px;
        }
    }
    .menu {
        display: block;
        position: absolute;
        text-align: center;
        max-width: 150px;
        background-color: #2B303B; 
        right: -100%;
        padding-top: 10px;
        margin-top: 10px;
        top: 36px;
        transition: all 0.4s ease;
        overflow: auto;
        &.active {
            right: 0;
        }
        &__list{
            display: block;
        }
        &__item:not(:first-child) {
            margin: 10px 0;
        }
        &__link{
            font-size: 20px;
            line-height: 24px;
        }
        
    }
    .lang-switcher {
        display: none;
        
    }
    
    
    // 
    .burger {
        display:block;
        
        &.active span {
            opacity:0; 
            transition: 0.5s; 
        }
        &.active:before {
            transform: rotate(45deg);
            top: 12px;
            transition: 0.4s;
        }
        &.active:after {
            transform: rotate(-45deg);
            bottom: 12px;
            transition: 0.4s;
        }
    }

    // header addition
    
    .header-addition__suptitle {
        line-height: 21px;

        
    }
    .header-addition__title {
        margin-top: 0;

        font-size: 24px;
        line-height: 30px;
    }
    
    .header-addition__btn {
        margin-top: 20px;
    }
    .header-addition__bottom-inner {
        max-width: 769px;
        display: none;
    }

    
    // 

    // portfolio

    .portfolio__content-inner {
        
        margin-bottom: 80px;
    }
    
    
    .portfolio__hexagon-title {
        font-size: 24px;
        line-height: 30px;
    }
    .portfolio__hexagon-btn {
        max-width: 140px;

    }
    .portfolio__hexagon-detail {
        font-size: 14px;
        line-height: 20px;
    }
    
    .portfolio__content-top {
        margin: 0 auto;
        max-width: 726px;
    }
    .portfolio__content-bottom {
        margin-top: -53px;
        max-width: 478px;
    }
    .hexagon {
        width: 230px;
        height: 230px;
        max-width: 230px;
        min-height: 230px;
    }
    // 
    // resume
    .resume__name {
        font-size: 20px;
        line-height: 26px;
    }
    .resume__left-bar {
        margin: 100px 20px 0 0;
    }
    .left-content__block:last-child {
        margin-bottom: calc( (1650px - 1404px) + 358px);
    }
    .resume__short-info {
        font-size: 18px;
        line-height: 24px;
        margin-top: 5px;
    }
    .left-content__block-title {
        font-size: 20px;
        line-height: 26px;
    }
    .resume__content-title {
        padding: 2px 10px;
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 5px;
    }
    .resume__content-text {
        font-size: 14px;
        line-height: 18px;
        padding: 10px 10px 0 10px;
    }
    .resume__content-block {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    // 


    // short-about
    .short-about__center-title {
        font-size: 16px;
        line-height: 22px;
        margin-top: 5px;
    }
    .short-about__center-descriotion {
        font-size: 14px;
        line-height: 20px;
        margin-top: 5px;
    }
    .short-about__center-box {
        max-height: 100px;
        max-width: 100px;
    }
    .short-about__center-circle {
        top: calc((((100 - 80) / 100) * 100%) / 2);
        left: calc((((100 - 80) / 100) * 100%) / 2);
    }
    
    .short-about__top-title {
        font-size: 26px;
        line-height: 32px;
    }
    .short-about__top-description {
        margin-top: 5px;
        font-size: 18px;
        line-height: 24px;
    }
    .short-about__center-btn-detail {
        line-height: 24px;
        font-size: 16px;
        padding: 0 5px;
    }
    .short-about__center-block {
        min-height: 300px;
    }
    .short-about__center-content {  
        min-height: 360px;  
    }
    .short-about-bottom__quote-title {
        font-size: 24px;
        line-height: 30px;
    }

    // 


    // project 
    .carousel {
        height: 280px;
    }
    .carousel__button {
        width: var(--carousel-button-width, 32px);
        height: var(--carousel-button-height, 32px);
    }
    .carousel__button.is-prev {
        left: -1rem;
        display: none;
    }
    .carousel__button.is-next {
        right: -1rem;
        display: none;
    }
    .carousel__slide-title{
        font-size: 24px;
        line-height: 30px;
    }
    .carousel__slide-description {
        font-size: 16px;
        line-height: 22px;
    }
    .project__center-top-nav {
        font-size: 20px;
        line-height: 26px;
    }
    
    .project__bottom-btn-detail {
        font-size: 14px;
        line-height: 20px;
    }
    // 


    // development
    .development__title {
        font-size: 20px;
        line-height: 26px;
    }
    //
    
}

@media (max-width: 426px){
    .fancybox__content {
        overflow: visible;
        
    }
    .popups__project-content {
        max-height: max-content;
    }
    .popups__project-collection {
        a {
            display: block;
        }
        img {
            margin: 5px auto;
            display: block;
            max-width: 100%;
            max-height: 100px;
        }
    }
    //header 
    .header {
        .container {
            max-width: 425px;
            margin: 0;
        }
    }
    
    
    .lang-switcher {
        display: none;
        
    }
    
    
    // 
    .burger {
        
        height: 20px;
        width: 25px;
        
        &__line {
            top: 9px;
        }
        &.active span {
            opacity:0; 
            transition: 0.5s; 
        }
        &.active:before {
            top: 9px;
        }
        &.active:after {
            bottom: 9px;
        }
    }   
    // header addition
    .header-addition {
        &__top-inner {
            margin-top: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .header-addition__suptitle {
        
        font-size: 12px;
        line-height: 16px;
        
        &:after {
            font-size: 10px;
            margin-left: 10px;
        }
    }
    .header-addition__title {
        
        font-size: 18px

    }
    .header-addition__desc {
        
        font-size: 12px;
        line-height: 16px;
    }
    
    .header-addition__btn {
        display: none;
    }
    .header-addition__bottom-inner {
        display: none;
    }
    .header-addition__bottom-decor {
        display: none;
    }
    // 

    // portfolio

    .portfolio__content-right {
        margin-left: auto;
        margin-right: auto;
        max-width: max-content;
    }
    
    
    .portfolio__content-top {
        display: block;
    }
    .portfolio__content-bottom {
        display: block;
        margin-top: 0;
    }
    .hexagon {
        margin: 0 auto 20px auto;
        &:not(:last-child) {
            margin-right: auto;
        }
    }
    // 
    // resume

    .resume__inner {
       display: block;
    }
    .resume__photo {
        margin-top: 0;
        padding-top: 10px;
    }
    .resume__left-bar {
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    .resume__right-bar {
        margin-top: 40px;
    }
    .left-content__block:last-child {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
   
    .resume__content-block {
        margin-top: 15px;
        &:first-child {
            margin-top: 0;
            padding-top: 20px;
        }
    }
    // 


    // short-about

    .short-about__top-inner {
        margin-top: 40px;
    }
    .short-about__center-title {
        
    }
    .short-about__center-descriotion {
        max-width: 160px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .short-about__center-box {
       height: 100px;
       width: 10 0px;
    }
    .short-about__center-circle {
        
    }
    
    .short-about-bottom__quote {
        

        &-title {
            
        }
    }
    .short-about__top-title {
        
    }
    .short-about__top-description {
        
    }
    .short-about__center-btn {
        min-width: 50%;
        margin-bottom: 5px;
        left: 25%;
    }
    .short-about__center-btn-detail {
       
    }
    .short-about__center-block {
        max-width: 100%;
        margin-bottom: 0;
        &:first-child {
            margin-top: 0;
            padding-top: 10px;
        }
        &:not(:last-child):after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            height: 4px;
            width: 100%;
            display: block;
            background-color: #fff;
        }
    }
    .short-about__center-content {  
         margin-top: 40px;
         display: block;
    }
    .short-about-bottom__quote-title {
        
    }

    // 


    // project 
    .project__top {
        padding: 0 10px;
    }
    .carousel__viewport {
        
    }
    .carousel__image-container {
        right: 0;
        border-radius: 7px;
        & li {
            text-align: center;
        }
        
    }
    .project__center-top-nav {
        display: none;
    }
    
    
    .project__center-bottom-title {
        margin-top: 20px;
    }
    .project__bottom-btn {
        min-width: 60%;
        left: 20%;
    }
    .project__bottom-inner {
        margin-top: 0 auto;
    }
    .project__bottom-cards {
        display: block;
    }
    .project__bottom-block {
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;

        &:hover {
            transform: translateY(-3%);
            transition: 0.5s;
            background: #c89797;
        }
    }
    .project__bottom-description {
        max-width: 80%;
    }
    // 
    // development
    .development {
        min-height: 0;
    }
    //
    // footer

    .footer__inner {
        padding-top: 40px;
        .logo {
            display: none;
        }
        
    }
    .footer__container {
        &:after {
            margin: 15px auto 20px auto;
        }
    }
    .footer__menu {
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }
    .footer__sourses {
        margin-bottom: 10px;
    }
    .footer__inspiration {
        margin-bottom: 10px;
    }
    .footer__wishes {
        margin-bottom: 10px;
    }
    .footer__title {
        
    }
    .footer__link {
        
        
    }
    .footer__item:not(:first-child) {
        
    }
    // 
}
@media (max-width: 320px){
    //header 
    .header {
        max-width: 320px;
 
        .container {
            max-width: 340px;
            width: 100%;
            margin: 0 auto;
        }
    }
    
    
    .lang-switcher {
        display: none;
        
    }
    
    
    // 
    .burger {
        
        height: 20px;
        width: 25px;
        
        &__line {
            top: 9px;
        }
        &.active span {
            opacity:0; 
            transition: 0.5s; 
        }
        &.active:before {
            top: 9px;
        }
        &.active:after {
            bottom: 9px;
        }
    }   
    // header addition
    .header-addition {
        &__top-inner {
            margin-top: 60%;
        }
    }
    .header-addition__suptitle {
        
        font-size: 12px;
        line-height: 16px;
        
        &:after {
            font-size: 10px;
            margin-left: 10px;
        }
    }
    .header-addition__title {
        
        font-size: 18px

    }
    .header-addition__desc {
        
        font-size: 12px;
        line-height: 16px;
    }
    
    .header-addition__btn {
        display: none;
    }
    .header-addition__bottom-inner {
        display: none;
    }
    .header-addition__bottom-decor {
        display: none;
    }
    // 

    // portfolio

    .portfolio__content-right {
        margin-left: auto;
        margin-right: auto;
        max-width: max-content;
    }
    
    
    .portfolio__content-top {
        display: block;
    }
    .portfolio__content-bottom {
        display: block;
        margin-top: 0;
    }
    .hexagon {
        margin: 0 auto 20px auto;
        &:not(:last-child) {
            margin-right: auto;
        }
    }
    // 
    // resume

    .resume__inner {
       display: block;
    }
    .resume__photo {
        margin-top: 0;
        padding-top: 10px;
    }
    .resume__left-bar {
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    .resume__right-bar {
        margin-top: 40px;
    }
    .left-content__block:last-child {
        margin-bottom: 0;
        padding-bottom: 20px;
    }
   
    .resume__content-block {
        margin-top: 15px;
        &:first-child {
            margin-top: 0;
            padding-top: 20px;
        }
    }
    // 


    // short-about

    .short-about__top-inner {
        margin-top: 40px;
    }
    .short-about__center-title {
        
    }
    .short-about__center-descriotion {
        max-width: 160px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .short-about__center-box {
       height: 100px;
       width: 10 0px;
    }
    .short-about__center-circle {
        
    }
    .short-about-bottom__quote {
        

        &-title {
            
        }
    }
    .short-about__top-title {
        
    }
    .short-about__top-description {
        
    }
    .short-about__center-btn {
        min-width: 150px;
        margin-bottom: 5px;
        left: calc((((290 - 150)/ 290) * 100%) / 2);
    }
    .short-about__center-btn-detail {
       
    }
    .short-about__center-block {
        max-width: 100%;
        margin-bottom: 0;
        &:first-child {
            margin-top: 0;
            padding-top: 10px;
        }
        &:not(:last-child):after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            height: 4px;
            width: 100%;
            display: block;
            background-color: #fff;
        }
    }
    .short-about__center-content {  
         margin-top: 40px;
         display: block;
    }
    .short-about-bottom__quote-title {
        
    }

    // 


    // project 
    .project__top {
        padding: 0 10px;
    }
    .carousel__viewport {
        display: block;
    }
    .carousel__image-container {
        right: 0;
        border-radius: 7px;
        & li {
            text-align: center;
        }
        
    }
    .project__center-top-nav {
        display: none;
    }
    
    
    .project__center-bottom-title {
        margin-top: 20px;
    }
    .project__bottom-btn {
        min-width: 60%;
        left: 20%;
    }
    .project__bottom-inner {
        margin-top: 0 auto;
    }
    .project__bottom-cards {
        display: block;
    }
    .project__bottom-block {
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
    }
    .project__bottom-description {
        max-width: 100%;
        text-align:justify;
    }
    // 
    // development
    .development {
        min-height: 0;
    }
    //
    // footer

    .footer__inner {
        padding-top: 40px;
        .logo {
            display: none;
        }
        
    }
    .footer__container {
        &:after {
            margin: 15px auto 20px auto;
        }
    }
    .footer__menu {
        display: block;
        max-width: 250px;
        margin: 0 auto;
    }
    .footer__sourses {
        margin-bottom: 10px;
    }
    .footer__inspiration {
        margin-bottom: 10px;
    }
    .footer__wishes {
        margin-bottom: 10px;
    }
    .footer__title {
        
    }
    .footer__link {
        
        
    }
    .footer__item:not(:first-child) {
        
    }
    // 
}