// Popups carousel
.popup .carousel__button {
    
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: none;
}
.popup .is-close {
    background-color:#DFD4CF;
    color: black !important;
    top: 15px !important;
    right: 15px !important;
} 

.is-animated .carousel__button {
  background: none;
  color: white;
}
.popup .carousel__button {
  background: none !important;
}
.skill .is-close {
  color: white !important;
}

// popup

.popup {
    color: black;
    display: none;
    cursor: default !important;
}

.fancybox__content {
    overflow: hidden;
    width: 80%;
    
    background-color: #DFD4CF;
    
}
.fancybox__container {
    --fancybox-bg: rgba(0,0,0, 0.9) !important;
}


.popups{

  &__content {
    display: flex;
    justify-content: space-between;
    min-height: 700px;
  }

  &__card {
    position: relative;
    max-width: 50%;
    max-height: 100%;
  }

  &__img {
    
    max-width: 100%;
    max-height: 33%;
    object-fit: cover;

    transition: .5s;
      &:hover {
        transform: translateX(10%);
        transition: .5s;
      }

    &:nth-child(2) {
      position: absolute;
      left: 15px;
      top:25%;
      
    }
    &:last-child {
      position: absolute;
      left: 30px;
      top:50%;
    }
  }

  &__description {
    margin-left: 7%;
    width: 43%;
    min-width: 160px;
  }
  &__title {
    font-size: 36px;
    line-height: 43px;
    color: #393939;
  }
  &__desc {
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    color: #6D6D6D;
  }

  &__btn {
    background-color: $color-primary;
    max-width: max-content;
    max-height: max-content;
    padding: 8px 26px;
    cursor: pointer;
    margin-top: 57px;
  }
  &__btn-detail {

    font-size: 24px;
    line-height: 28px;

    color: black;
  }

  &__project{

    &-content {
      display: flex;
      justify-content: space-between;
      max-height: 700px;
    }
    &-collection {

        max-width: 650px;

        img {
            max-width: 200px;
            max-height: 150px;
            margin: 3px;
        }
        
    } 

    &-title {
        font-size: 36px;
        color: black;
    }
  
    &-desc {
        margin-top: 20px;
        font-size: 18px;
        color: black;
        max-width: 700px;
    }
  }

  &__skills {

    
    
    
  }

  &__design {

    &-content {
      display: flex;
      justify-content: space-between;
    }
    &-card {

    }
    &-img {

    }
    &-description {

    }
    &-title {

    }
    &-desc {

    }
    
  }
}

#Visualisation {
  background-color: #EDF1FD;
  width: 70%;
}






// gallery inside the box
a[data-fancybox] img {
    cursor: zoom-in;
  }
  
  .fancybox__backdrop::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 10%;
    filter: blur(2px);
    left: 50%;
    top: 50%;
    transform: scale(11);
    opacity: 0.3;
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .fancybox__container {
    --fancybox-bg: #000;
  
    --fancybox-thumbs-width: 48px;
    --fancybox-thumbs-ratio: 1;
  
    --carousel-button-bg: rgb(91 78 76 / 74%);
  
    --carousel-button-svg-width: 24px;
    --carousel-button-svg-height: 24px;
  
    --carousel-button-svg-stroke-width: 2.5;
  }
  .fancybox__toolbar__items--right {
      margin-right: 60px;
  }
  .carousel__viewport:first-child {
      margin-right: auto;
  }
  
  .fancybox__slide {
    padding: 8px 88px;
  }
  
  /* Thumbnails */
  .fancybox__thumbs .carousel__slide {
    padding: 8px 8px 16px 8px;
  }
  
  .is-nav-selected::after {
    display: none;
  }
  
  .fancybox__thumb {
    border-radius: 6px;
    opacity: 0.4;
  }
  
  .fancybox__thumb:hover,
  .is-nav-selected .fancybox__thumb {
    border-radius: 6px;
    opacity: 1;
  }
  
  .is-nav-selected .fancybox__thumb::after {
    display: none;
  }


